body {
  background-color: #282D35;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  margin: 0 0.5rem 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #21222A;
  width: 99%;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > div {
  display: flex;
  align-items: center;
}

small {
  font-size: 25px;
  font-weight: bold;
  color: #00D8FF;
}

p {
  margin: 0 1rem;
  font-size: 16px;
  font-weight: 900px;
  color: antiquewhite;
}

.main {
  width: 95%;
  height: auto;
  padding: 1rem 2rem;
  text-align: left;
  background-image: url(./reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 75%;
}
h2 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05em;
}
ul {
  color: antiquewhite;
  margin-bottom: 5rem;  
}

ul li::marker {
  font-size: 1.4rem;
  color: #00D8FF;
}

a {
  margin: 6rem 0;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
