.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23252C;
  
}

.card {
  width: 316px;
  background-color: #1A1B21;
  border-radius: 10px;
  margin: 1rem 0;
}

.card-body {
  padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.profileInfo {
  text-align: center;
}

.link {
  margin: 0.5rem 0;
}

.buttons {
  display: flex;
  text-align: center;
  margin: 1rem 0;
}

.email {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.email img, .linkedin img {
  margin-right: 0.25rem;
}

.email p , .linkedin p {
 font-size: 14px;
}

.linkedin {
  background-color: #5093E2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.rrss {
  text-align: center;
  padding: 1rem;
}

.rrss img {
  margin: 0 .5rem;
}
